<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form action ="#"
      th:action="@{/process}"
      th:object="${course}"
      method="post">


    <input type="hidden" th:field="*{id}"/>

    TITLE : <input type="text" th:field="*{title}"/>
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"></span>


    AUTHOR : <input type="text" th:field="*{author}"/>
    <span th:if="${#fields.hasErrors('author')}"
          th:errors="*{author}"></span><br/>


    DESCRIPTION : <textarea rows="3" th:field="*{description}"/>
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br/>

    <br/>

    <input type="submit" value="Submit"/>

</form>
</body>










</form>


</body>
</html>